
# PIA configuration file. Uncommented lines will be processed.
# No spaces in between <var>=<value> allowed.

# Define input directory. Default:
# input="$PWD"/testdata
input="$PWD"/testdata

# Define output directory, if necessary. Default:
# output="$PWD"/pia-test-output
output="$PWD"/pia-test-output

# Enable extra checks in case SIP structure contains MODIFIED_MASTER.
# Possible values: yes/no.
check_for_MM=yes

# Depth of identifier directories (relative to input directory).
# This is an *optional* override value. In normal operation PIA
# determines the correct value by looking at the folder structure.
# However, an erratic structure may cause this to fail. Uncomment to
# force the value given in this config.
# id_depth=2
